.contacts {
  @mixin container;
  background-color: white;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__container {
  @media (min-width: 1200px) {
    /*padding-top: 80px;
    padding-left: 50px;*/
  }
}

.contacts__block {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    margin-left: 70px;
  }
}

/* ---------- Шапка ---------- */

.contacts__header {
  @mixin margin-reset;
  padding: 20px 0;

  font-size: 25px;
  line-height: 30px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 0;
    padding-bottom: 60px;

    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }
}

.contacts__border {
  display: none;
  background-color: white;

  @media (min-width: 768px) {
    display: block;
    width: 250px;
    height: 1px;

    margin: 50px auto;
    background-color: black;
  }
}

/* -------- Описание -------- */

.contacts__description {
  padding-left: 20px;

  @media (min-width: 768px) {
    padding-left: 0;
    text-align: center;;
  }
}

.contacts__type {
  margin-bottom: 15px;

  color: orange;
  font-weight: 700;
  text-decoration: underline;

  @media (min-width: 768px) {
    margin-left: 140px;
    color: black;
    font-weight: 400;
    text-decoration: none;
  }

  @media (min-width: 1200px) {
    margin: 0;
  }
}

.contacts__value {
  padding-bottom: 15px;
  margin-left: 20px;

  @media (min-width: 768px) {
    width: 300px;
    margin-right: 70px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    margin: 0;
    margin-left: 20px;
  }
}

/* -------- Время -------- */

.contacts__time {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contacts__number {
  margin-right: 70px;

  @media (min-width: 768px) {
    /*margin-right: 0;*/
  }
}

/* -------- Карта -------- */

.contacts__map-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.contacts__map-tablet {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.contacts__map-decktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
