.footer {
  @mixin container;
  border-top: 2px solid grey;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* --------- Адрес --------- */

.footer__adress {
  text-align: center;
}

/* ---------- Тел ---------- */

.footer__tel {
  margin: 0 30px;

  border-top: 2px solid orange;
  text-align: center;
}

.footer__tel-number,
.footer__adress-value {
  @mixin margin-reset;
  padding: 15px 0;
}

/* ---------- Logo ---------- */

.footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
